<div class="page-header">
  <%= link_to produto_path(@comentario.raiz), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Editing comentario</h1>
</div>

<%= render partial: 'form_edit', locals: {comentavel: @comentario.comentavel, comentario: @comentario} %>
