<div class="page-header">
  <%= link_to produtos_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Continuar comprando
  <% end %>
  <%= link_to edit_pedido_path(@pedido), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
  <% end %>
  <h1>Show pedido</h1>
</div>

<dl class="dl-horizontal">
  <%= render @pedido.items %>
</dl>
